bertenv/
app/models/pytorch_model.bin
.env
app/__pycache__/
app/__pycache__/routes.cpython-36.pyc
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
