{% extends "base.html" %}

{% block content %}
    <h1>Input semantic search info</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <ul>
            <li>{{ the_document }}</li>
            <li>{{ the_query }}</li>
            <li>{{ the_answer }}</li>
        </ul>
        <p>
            {{ form.the_document.label }}<br>
            {{ form.the_document(size=32) }}
        </p>
        <p>
            {{ form.the_query.label }}<br>
            {{ form.the_query(size=32) }}
        </p>
        
        <hr>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}